/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 260px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #1da1f2; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.logo {
  padding: 10px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  z-index: 4; 
}

.logo-mini {
  float: left;
  text-align: center;
  width: 30px;
  margin-right: -10px;
}

.logo-mini img {
  width: 40px;
  margin-left: -3px;
  display: block;
  margin-top: 2px; 
}
.logo-normal {
  display: block; 
}
.logo-img {
  width: 34px;
  display: inline-block;
  height: 34px;
  margin-left: -2px;
  margin-top: -2px;
  margin-right: 10px;
  border-radius: 30px;
  text-align: center; 
}
  
.simple-text {
  text-transform: uppercase;
  padding: 5px 0px;
  display: block;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 30px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 900px) {
  .sidenav { 
    padding-top: 15px;
    width: 50px;
  }
  .logo-normal {
    font-size: 18px;
    display: none;
  }

  .logo-mini {
    float: none;
  }
}

@media screen and (max-width: 450px) {
  .sidenav { 
    padding-top: 15px;
    display: none;
  }
}